@import "components/navigation";

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 1024px;
  margin: auto;

  .app {
    margin-top: 20px;
    text-align: center;
  }
}
